body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
}

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/*logo*/
.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.studio-header {
    color: #2E2F42;
}

.studio-footer {
    color: #F4F4FD;
}

/*menu*/
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33; 
    letter-spacing: 0.02em;
    color: #2E2F42; 
}

.menu-link:focus,
.menu-link:hover  {
    color: #404BBF;
}

/*contacts*/
.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-link:focus,
.contact-link:hover {
    color: #404BBF;
}

/*hero*/
.hero-bg {
    background-color: #2E2F42
}

.hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    /*text-align: center;*/
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

/*button*/
.btn {
    background: #F4F4FD;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.btn:focus,
.btn:hover {
    background-color: #404BBF;
    color: #FFFFFF;
}

/*text*/
.card-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*footer*/
.footer {
    background: #2E2F42;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}
